 body {
    font-family: sans-serif;
    text-align: center;
    background: #fafafa;
}

div{
    padding: 5px;
    margin: 5px;
}

.check-in-out-form{
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.submit-btn{
    padding: 5px;
    margin:10px;

}


#reader {
    width: 320px;
    margin: 20px auto;
}
#log {
    margin-top: 20px;
}