 body {
    font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    background: linear-gradient(140deg, #2542ffb9 40%, #fcc90fd6 60%);
    padding: 20px;

}

h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}

div{
    padding: 5px;
    margin: 5px;
}

button{
    padding: 5px;
    border: none;
    border-radius: 8px;
    background: rgb(40, 40, 255);
    color: white;
    font-size: 16pt;
    transition: all 0.3s;
}

/* .display-library{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.5);

} */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5); /* white but 50% transparent */
    color: #000; /* text color */
    margin-top: 20px;
}


.check-in-out-form form {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    /* background: rgb(255, 255, 255); */
    display: flex;           /* make form a flex container */
    flex-direction: column;  /* stack children vertically */
    align-items: center;     /* center them horizontally */
    gap: 10px;               /* space between each field */
}

.check-in-out-form label,
.check-in-out-form input,
.check-in-out-form button {
    width: 200px;      /* makes all elements the same width */
    text-align: center;
}

.text-boxes{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 15%;
}

/* .check-in-out-form{
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
} */

.submit-btn{
    padding: 5px;
    margin:10px;

}


#reader {
    width: 320px;
    margin: 20px auto;
}
#log {
    margin-top: 20px;
}